/* menu样式修改 */
.el-menu{
    min-width: 5rem;
    border-radius: 5px;
}
.el-menu-item{
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    margin: 1rem 0.1rem;
}
.el-menu--popup{
    min-width: 8rem !important;
}
.el-icon{
    font-size: 1.6rem !important;
}